body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-gap: 50px;
    justify-content: center;
}

.cardDivs {
    border: 10px solid white;
    color: black;
    text-align: center;
}

.textDivs {
    position: relative;
    background-color: white;
    height: 100%
}